<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <style>
      #error {
        text-align: center;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body style="background-color:  #e4f4ff" id="error">
    <div class="jumbotron jumbotron-fluid" id="jumbo" style="background-color :#e4f4ff; margin-top: 15%;">
        <h1 style="font-family: 'Lobster', cursive;  "><%- msg %></h1>
        <h2 style="font-family: 'Lobster', cursive;  ">Please try again later!</h2>
        <button type="submit" class="btn btn-dark" style="margin-top: 1%"><a href="/" style="color: white;">Back To Home</a></button>
      </div>
</body>
</html>